<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NetGás - Distribuidora</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="../css/login.css">
	

</head>
<body>
	<nav>
		<ul>
			<a class="logo" href="/"><img class="logo" src="../imgs/logo.png"></a>
			<li><a href="/cadastro_cliente">Cadastre-se</a></li>	
			<li><a href="/login">Entrar</a></li>
		</ul>
		</ul>
	</nav>

<div id="login">
	<form method="POST" action="/logado">
		<label for="user">Usuário: </label><br>
		<input type="text" name="user" value=""><br>
		<label for="pass">Senha: </label><br>
		<input type="password" name="pass" value=""><br>
		<input type="submit" name="enviar">
	</form>
</div>

	<footer>
		<p id="rodape">Copyright 2021 - NetGás</p>
	</footer>

</body>
</html>