<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>NetGás - Distribuidora</title>
	<link rel="stylesheet" href="../css/estilo.css">
	<link rel="stylesheet" href="../css/cadastro.css">
	

</head>
<body>
	<nav>
		<ul>
			<a class="logo" href="/"><img class="logo" src="../imgs/logo.png"></a>
			<li><a href="/cadastro_cliente">Cadastre-se</a></li>	
			<li><a href="/login">Entrar</a></li>
		</ul>
	</nav>

<div id="login">
	<form method="POST" action="/logado">
		
	<form>
        <a href="/cadastro_produtos"  class="cadastro_de_produtos">cadastro_produtos</a>
    </form>
    
    
    </form>
</div>

	<footer>
		<p id="rodape">Copyright 2021 - NetGás</p>
	</footer>

</body>
</html>


  



