#login{
    width: 100%;
    height: auto;
    }
    
    form{
        float:center;
        text-align: center;
    }
#comments{
    width: 100%;
    height: auto;
        }
        
        form{
            float:center;
            text-align: center;
        }    